input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 40px;
}
input[type]
select{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
}

.error {
  color: red;
}
textarea{
    border-radius: 5px;
  border: 1px solid gray;
  margin-left: 20px; 
  width: 100%;
}